apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: nginx-deployment2
  name: nginx-deployment2
namespace: giropops
spec:
  replicas: 10
  selector:
    matchLabels:
      app: nginx-deployment2
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 2
  template:
    metadata:
      labels:
        app: nginx-deployment2
    spec:
      containers:
      - image: nginx
        name: nginx
        resources:
          limits:
            memory: "128Mi"
            cpu: "500m"
          requests:
            memory: "64Mi"
            cpu: "250m"
